body {
  background-color: #212722;
  color: #FEF6E6; 
  margin: 0;
  font-family: sans-serif;
 
  background-image: 
    radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.05), transparent 40%),
    radial-gradient(circle at 80% 80%, rgba(255, 255, 255, 0.03), transparent 50%),
    linear-gradient(135deg, #2a3228 0%, #212722 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
